* {
    margin: 0px;
    box-sizing: border-box;
}

.wrapper {
    margin: 0px 20px;
    background-color: var(--main-grey);
}

a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}

.latest-news img:hover {
    border: var(--main-blue) 4px solid;
}

:root {
    --main-grey: #e2e2e2;
    --main-blue: #033193;
    --main-white: white;
}

img {
    max-width: 100%;
}

header {
    background-color: var(--main-grey);
}

.logo {
    padding: 15px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    background-color: var(--main-blue);
    color: var(--main-white);
}

li {
    padding: 10px;
    text-transform: uppercase;
}

main {
    width: 100%;
    background-color: var(--main-grey);
    display: flex;
    padding: 15px;
}

.content {
    background-color: var(--main-white);
    padding: 5px 5px 50px 5px;
    width: 90%;
}

.logo-icon {
    float: left;
    padding: 10px;
}

p {
    padding: 5px;
}

.latest-news {
    background-color: var(--main-white);
    margin: 0 0 0 15px;
    width: 20%;
}

.latest-news h3 {
    background-color: var(--main-blue);
    color: var(--main-white);
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.latest-news img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 4px solid transparent;
}

div .latest-news .latest-news-image1{
    margin-top: 15px;
    max-width: 128px;
}

div .latest-news .latest-news-image2 {
    margin-top: 35px;
    margin-bottom: 45px;
    max-width: 128px;       
}

footer {
    background-color: black;
    color: var(--main-white);
    text-align: center;
    font-size: 14px;
    padding: 5px;
}


@media (max-width: 992px) {
    main {
        display: block;
    }
    .content {
        width: 100%;
    }
    .latest-news {
        width:100%;
    }
}