* {
    margin: 0px;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    margin: 0px 20px;
    background-color: var(--main-grey);
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}

.latest-news img:hover {
    border: var(--main-blue) 4px solid;
}

:root {
    --main-grey: #e2e2e2;
    --main-blue: #033193;
    --main-white: white;
    --font-family: verdana regular ;
    --font-size1: 15pt;
    --font-size2: 13pt;
}

img {
    max-width: 100%;
}

.logo {
    padding: 15px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    background-color: var(--main-blue);
    color: var(--main-white);
    font-family: var(--font-family);
    font-size: var(--font-size11);
 }

li {
    padding: 10px;
    text-transform: uppercase;
}

main {
    width: 100%;
    display: flex;
    padding: 15px 20px 20px 20px;
}

.content {
    background-color: var(--main-white);
    padding: 5px 5px 50px 5px;
    width: 90%;
    margin-right: 20px;
}

.logo-icon {
    float: left;
    padding: 10px;
}

p {
    padding: 5px;
    font-family: var(--font-family);
    font-size: var(--font-size2);
}

.latest-news {
    background-color: var(--main-white);
    width: 20%;
    margin: 0 auto;
}

.latest-news h3 {
    background-color: var(--main-blue);
    color: var(--main-white);
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.latest-news img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 4px solid transparent;
    max-width: 128px;    
}

.latest-news-image1{
    margin-top: 15px;
}

.latest-news-image2 {
    margin-top: 35px;
    margin-bottom: 45px;
}

footer {
    width: 100%;
    position: absolute;
    background-color: black;
    color: var(--main-white);
    text-align: center;
    font-size: 14px;
    padding: 5px;
    bottom: 0;
    font-size: var(--font-size1);
}


@media (max-width: 992px) {
    main {
        display: block;
    }
    .content {
        width: 100%;
    }
    .latest-news {
        width:100%;
        margin: 20px auto;
        padding-bottom: 20px;
    }
    footer {
        position: static;
        bottom: 0;
              
    }
    .wrapper{
        height: auto;
    }
}